fastapi
uvicorn
sqlalchemy
alembic
asyncpg
psycopg2-binary

jinja2
requests
websockets
python-multipart

jwt
passlib
bcrypt
python-jose

pydantic
pydantic[email]
pydantic-settings

icecream
celery
redis